## Common Jupyter operations

Near the top of the https://try.jupyter.org page, Jupyter provides a row of menu options (`File`, `Edit`, `View`, `Insert`, ...) and a row of tool bar icons (disk, plus sign, scissors, 2 files, clipboard and file, up arrow, ...).

#### Inserting and removing cells

- Use the "plus sign" icon to insert a cell below the currently selected cell
- Use "Insert" -> "Insert Cell Above" from the menu to insert above

#### Clear the output of all cells

- Use "Kernel" -> "Restart" from the menu to restart the kernel
    - click on "clear all outputs & restart" to have all the output cleared

#### Save your notebook file locally

- Clear the output of all cells
- Use "File" -> "Download as" -> "IPython Notebook (.ipynb)" to download a notebook file representing your https://try.jupyter.org session

#### Load your notebook file in try.jupyter.org

1. Visit https://try.jupyter.org
2. Click the "Upload" button near the upper right corner
3. Navigate your filesystem to find your `*.ipynb` file and click "open"
4. Click the new "upload" button that appears next to your file name
5. Click on your uploaded notebook file

<hr>

## References

- https://try.jupyter.org
- https://docs.python.org/3/tutorial/index.html
- https://docs.python.org/3/tutorial/introduction.html
- https://daringfireball.net/projects/markdown/syntax
- this ipython notebook

<hr>

Before reading this materials, you should know:
- how to run jupyter notebook
- python comments
    - single line comment : #
    - multiple line comment (triple single quotes) : ''' and '''

In [16]:
# this is a single line comment

In [17]:
'''
This is how you would
write multiple lines of code
in Jupyter notebooks.
'''

'\nThis is how you would\nwrite multiple lines of code\nin Jupyter notebooks.\n'

### select the lines to be commented out, and press ctrl + /

In [18]:
# This is how you would
# write multiple lines of code
# in Jupyter notebooks.

# Python objects, basic types, and variables

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
      - **C++: single quotes --> char ; double quotes --> string**
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

**Not freqently used**
- **`long`**
  - 51924361L
  - 0xDEFABCECBDAECBFBAEl
- **`complex`**
  - 3.41j
  - 4.5e-2j

### Python identifier
- Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). 
- Variable names must start with a letter or underscore.
- In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.
- Python is a case sensitive programming language
- naming conventions
    - Class names start with an uppercase letter. All other identifiers start with a lowercase letter.
    - Starting an identifier with a single leading underscore indicates that the identifier is private.
    - Starting an identifier with two leading underscores indicates a strong private identifier.
    - If the identifier also ends with two trailing underscores, the identifier is a language-defined special name.

### Reserved Words
- They are reserved words and you cannot use them as identifier
- all reserved words are lowercase letters only
    - and, exec, not
    - as, finally, or
    - assert, for, pass
    - break, from, print
    - class, global, raise
    - continue,	if,	return
    - def, import, try
    - del, in, while
    - elif,	is,	with
    - else,	lambda,	yield
    - except
<hr>

In [19]:
import sys
sys.version

'3.5.2 (default, Jun 29 2016, 13:42:59) \n[GCC 4.2.1 Compatible Apple LLVM 7.0.2 (clang-700.1.81)]'

In [20]:
# 'type' is a commonly used function to get the
# 'print' is a commonly used function to display the value of a variable
print(type('a'))

<class 'str'>

In [21]:
type('a')

str

In [22]:
type("abc hhh")

str

In [23]:
type(10)

int

In [24]:
type(2.0)

float

In [25]:
type(False)

bool

In [26]:
# It's None instead of none
type(None)

NoneType

## Basic operators

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - **`//`** (floor division, The division of operands where the result is the quotient in which the digits after the decimal point are removed. But if one of the operands is negative, the result is floored, i.e., rounded away from zero (towards negative infinity))
  - **`%`** (Modulus)
  - __`**`__ (exponent)
- bit operators
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
  - **`//=`**
  - **`/=`**
  - **`%=`**
  - **`**=`**
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)
- logical operators
  - **`and`** (Logical AND)
  - **`or`** (Logical OR)
  - **`not`** (Logical NOT)
      - **It's case sensitive. DONT use `AND` `OR` `NOT`**
- membership operators
  - **`in`** (x in y, here in results in a 1 if x is a member of sequence y)
  - **`not in`** (the opposite with `in`)
      - **It's case sensitive. DONT use `IN` `NOT IN`**
- identity operators
  - **`is`** (x is y, here is results in 1 if id(x) equals id(y) )
  - **`is not`** (the opposite with `is`)
      - **It's case sensitive. DONT use `IS` `IS NOT`**

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first. Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `~` `+` `-` Complement, unary plus and minus (method names for the last two are +@ and -@)
- `*`, `/`, `%`, `//`  multiplication and division
- `+`, `-` addition and subtraction
- `>>` `<<` right and left bitwist shift
- `&` bitwise 'AND'
- `^` `|` bitwise exclusive 'OR' and regular 'OR'
- `<`, `<=`, `>`, `>=` comparisons
- `==`, `!=` equality operators
- `=` `%=` `/=` `//=` `-=` `+=` `*=` `**=` assignment operators
- `is is not` identity operators
- `in not in` membership operators
- `not or and` logical operators

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

In [27]:
id(0)

4350163408

In [28]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [29]:
# Addition
num1 + num2

7

In [30]:
# print(variable_name) to print out the value of the variable, similar with the cout in c++
# 'print' includes the '\n' 
print(num1 + num2)

7

In [31]:
# Subtraction
num2 - num3

-10.41

In [32]:
# Multiplication
num3 * num4

-4.446

In [33]:
# Division
num4 / num5

-0.08571428571428572

In [34]:
# Floor Division
7//2

3

In [35]:
# Floor Division
# num4 == -.6, num5 = 7
# round towards zero
num4 // num5

-1.0

In [36]:
# Exponent
num5 ** num6

343

In [37]:
# Increment existing variable
num7 += 4
num7

15.11

In [38]:
# Decrement existing variable
num6 -= 2
num6

1

In [39]:
# Multiply & re-assign
num3 *= 5
num3

37.05

In [40]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

-101.14999999999999

In [41]:
# Are these two expressions equal to each other?
num1 + num2 == num5

True

In [42]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [43]:
# Is the first expression less than the second expression?
num5 < num6

False

In [44]:
# Is this expression True?
5 > 3 > 1

True

In [45]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [46]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [47]:
# Notice that the string was not modified
simple_string1

'an example'

In [48]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [49]:
# This string wasn't modified either
simple_string2

'oranges '

In [50]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

False

In [51]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

True

In [52]:
# Add and re-assign
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [53]:
# Multiply and re-assign
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

In [54]:
# Note: Subtraction, division, and decrement operators do not apply to strings.