## Common Jupyter operations

Near the top of the https://try.jupyter.org page, Jupyter provides a row of menu options (`File`, `Edit`, `View`, `Insert`, ...) and a row of tool bar icons (disk, plus sign, scissors, 2 files, clipboard and file, up arrow, ...).

#### Inserting and removing cells

- Use the "plus sign" icon to insert a cell below the currently selected cell
- Use "Insert" -> "Insert Cell Above" from the menu to insert above

#### Clear the output of all cells

- Use "Kernel" -> "Restart" from the menu to restart the kernel
    - click on "clear all outputs & restart" to have all the output cleared

#### Save your notebook file locally

- Clear the output of all cells
- Use "File" -> "Download as" -> "IPython Notebook (.ipynb)" to download a notebook file representing your https://try.jupyter.org session

#### Load your notebook file in try.jupyter.org

1. Visit https://try.jupyter.org
2. Click the "Upload" button near the upper right corner
3. Navigate your filesystem to find your `*.ipynb` file and click "open"
4. Click the new "upload" button that appears next to your file name
5. Click on your uploaded notebook file

<hr>

## References

- https://try.jupyter.org
- https://docs.python.org/3/tutorial/index.html
- https://docs.python.org/3/tutorial/introduction.html
- https://daringfireball.net/projects/markdown/syntax
- https://www.tutorialspoint.com/python3

<hr>

Before reading this materials, you should know:
- how to run jupyter notebook
- python comments
    - single line comment : #
    - multiple line comment (triple single quotes) : ''' and '''

# Check if you are using python3

In [414]:
import sys
sys.version

'3.5.2 (default, Jun 29 2016, 13:42:59) \n[GCC 4.2.1 Compatible Apple LLVM 7.0.2 (clang-700.1.81)]'

## Lines and Indentations

- indentation: line indentation, usually tab
- The number of spaces in the indentation is variable, but all statements within the block must be indented the same amount
- all the continuous lines indented with the same number of spaces would form a block
- SEMI COLON is not complusory!!!!

In [415]:
if True:
    print('True')# ; is optional    
else:
    print('False')# ; is optional

True

In [416]:
# WRONG EXAMPLE
if True:
    print('True')
#print('True')# you have to do line indentation for each line. SyntaxError: invalid syntax 
else:
    print('False')

True

# Multi-Line Statements

- Statements in Python typically end with a new line. 
- Python allows the use of the line continuation character (\) to denote that the line should continue

In [417]:
total = 'item_one' + \
    'item_two' + \
    'item_three'

# Multiple Statements on a Single Line

In [418]:
# The semicolon ( ; ) allows multiple statements on a single line given that no statement starts a new code block
x = 'foo'; print(x)

foo

# Multiple Statement Groups as Suites
- Groups of individual statements, which make a single code block are called suites in Python
- Compound or complex statements, such as if, while, def, and class require a header line and a suite.
- Header lines begin the statement (with the keyword) and terminate with a colon ( : ) and are followed by one or more lines which make up the suite.

In [419]:
a = 2
if a > 2 : 
    #suite
    pass
elif a < 0 : 
    #suite
    pass
else : 
    #suite
    pass

# Number

## Python data type convertion

In [420]:
int(2.3)

2

In [421]:
float(2)

2.0

## Mathematical Functions

In [422]:
# abs(x) : the absulute value of x
x = -2.5
abs(x)

2.5

In [423]:
# ceil(x) : the smallest integer not less than x
import math
math.ceil(-42.27)

-42

In [424]:
# floor(x) : largest integer not greater than x
import math
math.floor(-33.45)

-34

In [425]:
# exp(x) : The exponential of x
import math
math.exp(2.3)

9.974182454814718

In [426]:
# log(x) : The natural logarithm of x, for x> 0
import math
math.log(2)

0.6931471805599453

In [427]:
# log10(x): The base-10 logarithm of x for x> 0
import math
math.log10(2)

0.3010299956639812

In [428]:
print(max(80, 90, 100))
print(max([80, 90, 100]))
print(max('abc'))
print(min(80, 90, 100))
print(min([80, 90, 100]))
print(min('abc'))

100
100
c
80
80
a

In [429]:
# pow(x, y) == x ** y
pow(2, 5)

32

In [529]:
# round(x [,n]) :
# x rounded to n digits from the decimal point.
# Python rounds away from zero as a tie-breaker: round(0.5) is 0.0 and round(-0.5) is 0.0.
round(0.5)

0

In [530]:
round(-0.5)

0

In [432]:
# sqrt(x) : The square root of x for x > 0
import math
math.sqrt(2)

1.4142135623730951

In [433]:
import math
print(math.cos(3))
print(math.sin(3))
print(math.tan(3))
print(math.atan(3))

-0.9899924966004454
0.1411200080598672
-0.1425465430742778
1.2490457723982544

In [434]:
import math
math.pi

3.141592653589793

In [435]:
math.e

2.718281828459045

## random choice functions

In [436]:
# choice(seq) : A random item from a list, tuple, or string.
import random
print(random.choice([1, 2, 3, 5, 9]))
print(random.choice('A String'))

2

In [437]:
# randrange([start,] stop [,step]): returns a randomly selected element from range(start, stop, step) 
import random
# Select an even number in 100 <= number < 1000
print("randrange(100, 1000, 2) : ", random.randrange(100, 1000, 2))
# Select another number in 100 <= number < 1000
print("randrange(100, 1000, 3) : ", random.randrange(100, 1000, 3))

randrange(100, 1000, 2) :  826
randrange(100, 1000, 3) :  811

In [438]:
# random() : return a random float r in [0,1)
import random
random.random()

0.6176610236610508

# String

In [439]:
# initialization
# single quote == double quotes
var1 = 'Hello World!'
var2 = "Python Programming"

In [440]:
# accessing the values in strings
# start from zero
var1 = 'Hello World!'
var2 = "Python Programming"

print("var1[0]: " + var1[0])
print("var2[1:5]: " + var2[1:5])

var1[0]: H
var2[1:5]: ytho

In [441]:
# update an existing string
var1 = 'Hello World!'
print ("Updated String : {} ".format(var1[:6] + 'Python')) # format output

Updated String : Hello Python

## Escape Characters
- \n : newline
- \t : tab
- ...

## String Special Operators

In [442]:
a, b = 'Hello', 'Python'

In [443]:
# string concatenation
a + b #

'HelloPython'

In [444]:
a*2

'HelloHello'

In [445]:
# range slice a string
a[1:4] # a[1], a[2], a[3] (no a[4])

'ell'

In [446]:
# membership
'H' in a

True

In [447]:
'M' not in a

True

In [448]:
# r or R help suppresses actual meaning of Escape characters 
# what if we want to print the raw string of \n?
print('\n')

In [449]:
print(r'\n')
print(R'\n')

\n
\n

## String Formatting Operator
- %s : string
- %d : signed decimal integer
- %f : floating number
- ...

In [450]:
print ("My name is %s and weight is %d kg!" % ('Zara', 21)) 
print ("My name is %s and weight is %f kg!" % ('Zara', 21.2)) 
print ("My name is %s and weight is %.2f kg!" % ('Zara', 21.2)) 
print ("My name is %s and weight is %.2f kg!" % ('Zara', 21.2)) 
print ("My name is %s and weight is %10f kg!" % ('Zara', 21.2)) 
print ("My name is %s and weight is %10.2f kg!" % ('Zara', 21.2)) 
print ("My name is {0} and weight is {1:10.2f} kg!".format('Zara', 21.2))

My name is Zara and weight is 21 kg!
My name is Zara and weight is 21.200000 kg!
My name is Zara and weight is 21.20 kg!
My name is Zara and weight is 21.20 kg!
My name is Zara and weight is  21.200000 kg!
My name is Zara and weight is      21.20 kg!
My name is Zara and weight is      21.20 kg!

## Unicode 
- it's a bit painful to handle non-ascii strings in python2 but python3 has improved it.
- strings are stored as unicode in python3.
    - unicode string can be converted to bytes in python3
- string coding
    - ascii and unicode (utf8 and utf16 are the typical implementations for the unicode)
    - ascii for English letters while unicode can be used to encode non-English letters such as Chinese
    - ref in English
        - [ref1](https://medium.com/@apiltamang/unicode-utf-8-and-ascii-encodings-made-easy-5bfbe3a1c45a) (connect to our school network if you cannot open it)
        - [ref2](https://www.joelonsoftware.com/2003/10/08/the-absolute-minimum-every-software-developer-absolutely-positively-must-know-about-unicode-and-character-sets-no-excuses/)
    - ref in Chinese
        - [ref1](http://www.ruanyifeng.com/blog/2007/10/ascii_unicode_and_utf-8.html)
        - [ref2](http://cenalulu.github.io/linux/character-encoding/)

In [451]:
nonlat = '字'

In [452]:
print(type(nonlat))

<class 'str'>

In [453]:
# encoding: unicode string TO(by utf8) bytes string
# we have the encoding systems such as 'utf8'=='utf-8'(commonly used), 'utf-16'=='utf16'
a = nonlat.encode('utf8')
print(a)
print(type(a))

b'\xe5\xad\x97'
<class 'bytes'>

In [454]:
b = a.decode('utf8')
print(b)
print(type(b))

字
<class 'str'>

In [455]:
# strA.find(strB, beg = 0 end = len(string))
# search strB in strA
# beg: starting index, by default its 0; end: ending index, by default its len(string)
# return the index if found and -1 otherwise
str1 = "this is string example....wow!!!"
str2 = "exam";

print (str1.find(str2))
print (str1.find(str2, 10))
print (str1.find(str2, 40))

15
15
-1

In [456]:
# strA.index(strB, beg = 0 end = len(string))
# similar to str.find
# only difference is it will raises an exception if strB is not found
str1 = "this is string example....wow!!!"
str2 = "exam";

print (str1.index(str2))
print (str1.index(str2, 10))
#print (str1.index(str2, 40)) # ValueError: substring not found

15
15

In [457]:
# str.count(sub, start = 0,end = len(string))
# returns the number of occurrences of substring sub in the range [start, end]. 
# Optional arguments start and end are interpreted as in slice notation.
str = "this is string example....wow!!!"
sub = 'i'
print ("str.count('i') : ", str.count(sub))
sub = 'exam'
print ("str.count('exam', 10, 40) : ", str.count(sub,10,40))

str.count('i') :  3
str.count('exam', 10, 40) :  1

In [458]:
# str.isalnum(): check if all characters in the string are alphanumeric 
# and there is at least one character
str = "this2018"  # No space in this string
print (str.isalnum())

str = "this2018 "  # No space in this string
print (str.isalnum())

str = "this is an example!!!"
print (str.isalnum())

True
False
False

In [459]:
# str.isalpha() : checks if the string consists of alphabetic characters only
str = "this2018"  # No space in this string
print (str.isalpha())

str = "this"  # No space in this string
print (str.isalnum())

False
True

In [460]:
# str.join(sequence) : returns a string, which is the concatenation of the strings 
# in the sequence. The separator between elements is the string providing this method.
s = "-"
seq = ("a", "b", "c") # This is sequence of strings.
print(s.join( seq ))
print('-'.join(seq))
print('-'.join(['a', 'b', 'c']))

a-b-c
a-b-c
a-b-c

In [461]:
# str.lower(): returns a copy of the string in which 
# all case-based characters have been lowercased.
# similarly, we have str.upper()
str = "THIS IS STRING EXAMPLE....WOW!!!"
lower_str = str.lower()
print(lower_str)
upper_str = lower_str.upper()
print(upper_str)

this is string example....wow!!!
THIS IS STRING EXAMPLE....WOW!!!

In [462]:
# str.endswith(suffix[, start[, end]])
# TRUE if the string ends with the specified suffix, otherwise FALSE.
# Similarly, we have str.startswith
Str = 'this is string example....wow!!!'
suffix = '!!'
print (Str.endswith(suffix))
print (Str.endswith(suffix,20))

suffix = 'exam'
print (Str.endswith(suffix))
print (Str.endswith(suffix, 0, 19))

True
True
False
True

In [463]:
# lstrip, rstrip, strip
# str.lstrip([chars]) : returns a copy of the string in which all chars have been stripped 
# from the beginning of the string (default whitespace characters)
# str.rstrip([chars]): ... from the end of the string (default whitespace characters)
# str.strip([chars]) : ... from the beginning and end of the string (default whitespace characters)

str = "     this is string example....wow!!!"
print (str.lstrip())

str = "*****this is string example....wow!!!*****"
print (str.lstrip('*'))

str = "     this is string example....wow!!!     "
print (str.rstrip())

str = "*****this is string example....wow!!!*****"
print (str.rstrip('*'))

str = "*****this is string example....wow!!!*****"
print(str.strip('*'))
str = "     this is string example....wow!!!     "
print(str.strip())

this is string example....wow!!!
this is string example....wow!!!*****
     this is string example....wow!!!
*****this is string example....wow!!!
this is string example....wow!!!
this is string example....wow!!!

In [464]:
# str.replace(old, new[, max])
# returns a copy of the string with all occurrences of substring old replaced by new.
str = "this is string example....wow!!! this is really string"
print(str.replace("is", "was"))
print(str.replace("is", "was", 3))

thwas was string example....wow!!! thwas was really string
thwas was string example....wow!!! thwas is really string

In [465]:
# str.split(str="", num = string.count(str))
# returns a list of all the words in the string, using str as the separator 
# (splits on all whitespace if left unspecified)
# optionally limiting the number of splits to num.
str = "this is string example....wow!!!"
print (str.split( ))
print (str.split('i',1))
print (str.split('w'))

str1 = 'i, love, python, and, you'
print(str1.split(','))

['this', 'is', 'string', 'example....wow!!!']
['th', 's is string example....wow!!!']
['this is string example....', 'o', '!!!']
['i', ' love', ' python', ' and', ' you']

In [466]:
# max(str): returns the max alphabetical character from the string str.
# min(str): returns the min alphabetical character from the string str.
str = "this is a string example....really!!!"
print("Max character: " + max(str))

str = "this is a string example....wow!!!"
print("Max character: " + max(str))

Max character: y
Max character: x

We also have other useful functions for unicode strings
- check if the string consists of numbers only, return False if empty
    - str.isdigit()
    - str.isnumeric()
    - str.isdecimal()
        - [the difference for these three functions](https://stackoverflow.com/questions/44891070/whats-the-difference-between-str-isdigit-isnumeric-and-isdecimal-in-python) NOT IMPORTANT
- check if all cased characters in the string are lowercase, return False if empty
    - str.islower()
- rfind() : Same as find(), but search backwards in string.
- rindex(): Same as index(), but search backwards in string.

# List
- The most basic data structure in Python is the sequence. 
- Each element of a sequence is assigned a number - its position or index. 
- Index starts from ZERO
- List is one of the commonly used sequential data structure
- common operations
    - indexing : get one of the element from the list
    - slicing : get part of the list
    - multiplying : repeat the list or list element
    - checking for membership : check if one element is in this list or not
- Features:
    - ORDERED Sequences! 
    - elements in a list no need to be the same type
- Syntax:
    - a list of comma-separated values (items) between square brackets, e.g.
    - ['physics', 'chemistry', 1997, 2000]
    - [1, 2, 3, 4, 5 ]

In [467]:
## Create a list
a = [1, 2, 3]
## commonly used
b = range(10)
c = [0]*5
print(a)
print(b)
print(type(b))
print(c)

[1, 2, 3]
range(0, 10)
<class 'range'>
[0, 0, 0, 0, 0]

In [468]:
# Accessing Values in Lists
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

In [469]:
# Updating Lists
list1 = ['physics', 'chemistry', 1997, 2000]
print("Value available at index 2 : ", list1[2])

list1[2] = 2001
print("New value available at index 2 : ", list1[2])

Value available at index 2 :  1997
New value available at index 2 :  2001

In [470]:
list1 = ['physics', 'chemistry', 1997, 2000]
print (list1)

del list1[2]
print("After deleting value at index 2 : ", list1)
list1.remove(2000)
print('After removing value 2000 : ', list)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :  ['physics', 'chemistry', 2000]
After removing value 2000 :  <class 'list'>

## Basic List Operations

In [471]:
a = [1, 2, 3]
b = [4, 5, 6]

In [472]:
# concatenation between two lists
a + b # a and b haven't changed their values

[1, 2, 3, 4, 5, 6]

In [473]:
# or we can use the extend
a.extend(b) # here list a become a + b

In [474]:
# get the length of this list
len(a)

6

In [475]:
# add one more element to a list
a.append('hello')
print(a)

[1, 2, 3, 4, 5, 6, 'hello']

In [476]:
# repetition
c = ['hi']
c * 4

['hi', 'hi', 'hi', 'hi']

In [477]:
# membership
'5' in a

False

In [478]:
# membership
5 in a

True

In [479]:
# iteration
for x in [1, 2, 3]:
    print(x)

1
2
3

In [480]:
# indexing and slicing
list1 = ['C++', 'Java', 'Python', 'Go', 'Julia']
print(list1[0]) # the 1st element from left to right
print(list1[-1]) # the last element, the 1st element from right to left
print(list1[2])# the 3rd element from left to right
print(list1[-2]) # the 2nd element from right to left
print(list1[1:]) # the sub-list starting from the 2nd element to the right end
print(list1[-3:]) # the sub-list starting from the 3rd element from right to left to the right end
print(list1[2:4]) # the sub-list consists of elements list1[2], list1[3], (NO list1[4]!!!)

C++
Julia
Python
Go
['Java', 'Python', 'Go', 'Julia']
['Python', 'Go', 'Julia']
['Python', 'Go']

In [481]:
# max and min
list2 = [1, 2, 3]
print(max(list2))
print(min(list2))

3
1

In [482]:
# convert to list
my_set = set(['hi', 'goodbye'])
my_tuple = ('hi', 'goodbye')
print(list(my_set))
print(list(my_tuple))

['goodbye', 'hi']
['hi', 'goodbye']

In [483]:
# list.count(obj) : return the count of how many times obj occurs in list
a = [1, 1, 2, 3, 3]
a.count(1)

2

In [484]:
# list.index(obj) : return the lowest index in list that obj appears
a.index(3)

3

In [485]:
# list.insert(obj) : Inserts object obj into list at offset index
a.insert(2, 'hi')
a

[1, 1, 'hi', 2, 3, 3]

In [486]:
# list.pop(): Removes and returns last object or obj from list
a.pop()
a

[1, 1, 'hi', 2, 3]

In [487]:
# list.remove() : Removes object obj from list
a.remove('hi')

In [488]:
# list.reverse() : Reverses objects of list in place
a.reverse()

In [489]:
# list.sort() : sort the words by the alphabet order
list1 = ['physics', 'Biology', 'chemistry', 'maths']
list1.sort()
print("list now : ", list1)
list1.sort(reverse=True)
print("list now : ", list1)

list now :  ['Biology', 'chemistry', 'maths', 'physics']
list now :  ['physics', 'maths', 'chemistry', 'Biology']

In [490]:
# list.sort() : 
list1 = [2, 1, 3, 5, 4]
list1.sort() # from smallest to largest
print("list now : ", list1)
list1.sort(reverse=True) # from largest to smallest
print("list now : ", list1)

list now :  [1, 2, 3, 4, 5]
list now :  [5, 4, 3, 2, 1]

# Set
- similar with the mathematical set
- unordered
- no duplication
- element in a set is immutable (cannot be modified) but the set as a whole is mutable.
- no index attached to any element in a python set

In [491]:
# create a set
# method 1: created by using the set() function
# method 2: placing all the elements within a pair of curly braces
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months={"Jan","Feb","Mar"}
Dates={21,22,17}
print(Days)
print(Months)
print(Dates)
print(type(Dates))

{'Wed', 'Tue', 'Fri', 'Thu', 'Sun', 'Mon', 'Sat'}
{'Mar', 'Feb', 'Jan'}
{17, 21, 22}
<class 'set'>

In [492]:
# Accessing Values in a Set
# We cannot access individual values in a set. We can only access all the elements together as shown above. 
# But we can also get a list of individual elements by looping through the set.
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
 
for d in Days:
	print(d)

Wed
Tue
Fri
Thu
Sun
Mon
Sat

In [493]:
# Adding Items to a Set
# add elements to a set by using add() method
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
 
Days.add("Sun")
print(Days)

{'Wed', 'Tue', 'Fri', 'Thu', 'Sun', 'Mon', 'Sat'}

In [494]:
# Removing Item from a Set
# remove elements from a set by using discard() method
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
 
Days.discard("Sun")
print(Days)

{'Wed', 'Tue', 'Fri', 'Thu', 'Mon', 'Sat'}

In [495]:
# Union of Sets
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA|DaysB
print(AllDays)

{'Wed', 'Tue', 'Fri', 'Thu', 'Sun', 'Mon', 'Sat'}

In [496]:
# Intersection of Sets
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA & DaysB
print(AllDays)

{'Wed'}

In [497]:
# Difference of Sets
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
AllDays = DaysA - DaysB
print(AllDays)

{'Tue', 'Mon'}

In [498]:
# Compare Sets
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True

# Tuple
- a sequence of IMMUTABLE Python objects
    - you cannot update or change the values of tuple elements
- ordered
- syntax
    - Creating a tuple is as simple as putting different comma-separated values, e.g. tup1 = ('physics', 'chemistry', 1997, 2000)
    - Put these comma-separated values between parentheses, e.g. tup2 = "a", "b", "c", "d"
    - empty tuple:
    - To write a tuple containing a single value you HAVE TO include a comma, even though there is only one value
        - e.g. tup1 = (50,)
    - indices start at 0

In [499]:
# Accessing Values in Tuples. Similar with Lists
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )

print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [500]:
# Updating Tuples
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

# Following action is not valid for tuples
# tup1[0] = 100; # tuple is IMMUTABLE. you will get the TypeError: 'tuple' object does not support item assignment

# So let's create a new tuple as follows
tup3 = tup1 + tup2
print (tup3)

(12, 34.56, 'abc', 'xyz')

In [501]:
# Delete Tuple Elements
# Removing individual tuple elements is not possible
tup = ('physics', 'chemistry', 1997, 2000);

print (tup)
del tup;

('physics', 'chemistry', 1997, 2000)

## Basic Tuples Operations

In [502]:
a = (1, 2, 3)
b = (4, 5, 6)

In [503]:
# length
len(a)

3

In [504]:
# concatenation
a + b

(1, 2, 3, 4, 5, 6)

In [505]:
# repetition
('hi',)*4

('hi', 'hi', 'hi', 'hi')

In [506]:
# membership
3 in a

True

In [507]:
# iteration
for x in a: print(x)

1
2
3

In [508]:
# indexing
# a = (1, 2, 3)
print(a[2])
print(a[-2])
print(a[1:])

3
2
(2, 3)

In [509]:
# max, min
print(max(a))
print(min(a))

3
1

In [510]:
# convert  a list to tuple
cur_tuple = tuple([1, 2, 3])
print(cur_tuple)
print(type(cur_tuple))

(1, 2, 3)
<class 'tuple'>

# Dict
- key value pairs (键值对 in Chinese): hash map (哈希表 in Chinese) in data structure
    - hash map: store as key value pairs, 
    - analogy: we have 10 drawers where we have a some amount of money in each drawer
        - key to the 1st drawer : 10 dollars
        - key to the 2nd drawer : 12 dollars
        - ...
    - why we need such kind of data structures? It's fast to do some operations such as indexing
        - if you are required to get the 5th element in a list
        - a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        - you have to scan this list starting from the beginning, and check if the current element is the 5th element.
        - it becomes too complicated if you are required to get the 1 million-th element in a 2 millions list
        - it would be easier if we model this list as a dictionary or hash map
            - key is the index, value is the value of each element
            - dict = {0:1, 1:2, 2:3, 3:4, 4:5, 5:6, 6:7, 7:8, 8:9, 9:10}
            - we can directly get the 5th element by dict[4]
- Keys are unique within a dictionary
- The values of a dictionary can be of any type, but the keys must be of an immutable data type such as strings, numbers, or tuples
- Unordered Key Value Pairs
- Syntax
    - each key is separated from its value by a colon (:)
    - the items are separated by commas
    - the whole thing is enclosed in curly braces
        - e.g. dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
    - an empty dictionary without any items is written with just two curly braces, like this: {}

In [511]:
# Accessing Values in Dictionary
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [512]:
# if you try to access the key which is not the key of a dictionary
# dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'};
# print ("dict['Alice']: ", dict['Alice']) # you will get he KeyError: 'Alice'

In [513]:
# Updating Dictionary
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School" # Add new entry

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

In [514]:
# Delete Dictionary Elements
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

del dict1['Name'] # remove entry with key 'Name'
print(dict1)

{'Class': 'First', 'Age': 7}

In [515]:
# Delete Dictionary Elements
dict2 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict2.clear() # remove all the key value pairs in dict2.
dict2 # dict2 becomes the empty dictionary

{}

In [516]:
# Delete Dictionary Elements
dict3 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict3
# dict3 # you will get the NameError: name 'dict3' is not defined

In [517]:
# dictionary keys restriction1: no duplicate key is allowed
# but the last assignment wins when duplicate keys are encountered during assignment
cur_dict = {'Name': 'Zara', 'Age': 7, 'Name': 'Manni'}
print ("cur_dict['Name']: ", cur_dict['Name'])

cur_dict['Name']:  Manni

In [518]:
# dictionary keys restriction2: Keys must be immutable
# cur_dict = {['Name']: 'Zara', 'Age': 7} # list is not immutable. TypeError: unhashable type: 'list'
# print ("cur_dict['Name']: ", cur_dict['Name']) # you will get the TypeError: list objects are unhashable

## Built-in Dictionary Functions and Methods

In [519]:
cur_dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [520]:
# length
len(cur_dict)

3

In [521]:
# string representation
cur_dict.__repr__()

"{'Name': 'Zara', 'Class': 'First', 'Age': 7}"

In [522]:
# dict.fromkeys(seq[, value=None])) : creates a new dictionary with keys from seq and values set to value.
seq = ('name', 'age', 'sex')

cur_dict = cur_dict.fromkeys(seq)
print("New Dictionary : %s" %  cur_dict.__repr__())

cur_dict = cur_dict.fromkeys(seq, 10)
print("New Dictionary : %s" %  cur_dict.__repr__())

cur_dict = cur_dict.fromkeys(seq, [10, 11, 12])
print("New Dictionary : %s" %  cur_dict.__repr__()) # values are not 10 and 11 and 12

New Dictionary : {'sex': None, 'name': None, 'age': None}
New Dictionary : {'sex': 10, 'name': 10, 'age': 10}
New Dictionary : {'sex': [10, 11, 12], 'name': [10, 11, 12], 'age': [10, 11, 12]}

In [523]:
# dict.get(key, default=None) : returns a value for the given key. 
# If key is not available then returns default value None.
cur_dict = {'Name': 'Zara', 'Age': 27}

# indexing method1: directly use the key
print ("Value : %s" %  cur_dict['Age'])
# indexing method2: use get in case the key is not in this dict
print ("Value : %s" %  cur_dict.get('Age'))
print ("Value : %s" %  cur_dict.get('Sex', "NA"))

Value : 27
Value : 27
Value : NA

In [524]:
# dict.setdefault(key, default = None)
# similar to get(), but will set dict[key] = default if key is not already in dict.
cur_dict = {'Name': 'Zara', 'Age': 7}

# modify the value in dict method1: directly use the key 
cur_dict['Name'] = 'Chris'
print ("Value : %s" %  cur_dict['Name'])
# modify the value in dict method2: use the setdefault
print ("Value : %s" %  cur_dict.setdefault('Age', None))
print ("Value : %s" %  cur_dict.setdefault('Sex', None))
print (cur_dict)

Value : Chris
Value : 7
Value : None
{'Name': 'Chris', 'Sex': None, 'Age': 7}

In [525]:
# dict.keys(): get the all the keys in a dictionary
# dict.values(): get the all the values in a dictionary
# dict.items(): get all the key-value pairs in a dictionary
cur_dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  cur_dict.keys())
print ("Value : %s" %  cur_dict.values())
print ("Value : %s" %  cur_dict.items())

Value : dict_keys(['Name', 'Age'])
Value : dict_values(['Zara', 7])
Value : dict_items([('Name', 'Zara'), ('Age', 7)])

In [526]:
# IN PYTHON2, we can use dict.has_key(key) to check if a key is in a dict or not
# IN PYTHON3, we can only use key in dict membership statement
cur_dict = {'Name': 'Zara', 'Age': 7}

# print ("Value : %s" %  cur_dict.has_key('Age')) # AttributeError: 'dict' object has no attribute 'has_key'
print ("Value : %s" % ('Age' in cur_dict))
print ("Value : %s" % ('Sex' in cur_dict))

Value : True
Value : False

In [527]:
# dict.update(dict2) : adds dictionary dict2's key-values pairs in to dict
dict1 = {'Name': 'Zara', 'Age': 7}
dict2 = {'Sex': 'female' }

dict1.update(dict2)
print ("updated dict1 : ", dict1)

updated dict1 :  {'Name': 'Zara', 'Sex': 'female', 'Age': 7}

In [528]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}